
<button type="@ButtonType" class="@ButtonClass">@ButtonName</button>
@code {
    [Parameter]
    public string ButtonType { get; set; }

    [Parameter]
    public string ButtonClass { get; set; }

    [Parameter]
    public string ButtonName { get; set; }

}
