<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorServer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="RolesManagement/RolesList" Match="NavLinkMatch.All">
                        <span class="bi bi-kanban-fill h4 p-2 mb-0" aria-hidden="true"></span> Roles
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Blog" Match="NavLinkMatch.All">
                        <span class="bi bi-clipboard h4 p-2 mb-0" aria-hidden="true"></span> Blog
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Post" Match="NavLinkMatch.All">
                        <span class="bi bi-file-earmark-post h4 p-2 mb-0" aria-hidden="true"></span> Post
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Guid" Match="NavLinkMatch.All">
                        <span class="bi bi-record2 h4 p-2 mb-0" aria-hidden="true"></span> Guid
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="FileUpload" Match="NavLinkMatch.All">
                        <span class="bi bi-card-image h4 p-2 mb-0" aria-hidden="true"></span> File Upload
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Logout" Match="NavLinkMatch.All">
                        <span class="bi bi-lock h4 p-2 mb-0" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                        <span class="bi bi-unlock h4 p-2 mb-0" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
