@page "/"
@namespace BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorServer</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorServer.styles.css" rel="stylesheet" />
    <link href="~/icons-main/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="~/css/sweetalert2-11.1.5/package/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        function SweetConfirm(title) {
            return new Promise((resolve) => {
                Swal.fire({
                    title: title,
                    text: "這個動作不可復原",
                    icon: "warning",
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "確定"
                }).then((result) => {
                    resolve(result.isConfirmed);
                    if (result.isConfirmed) {
                        Swal.fire(
                            "刪除成功",
                            "日誌被刪除了",
                            "success"
                        );
                    }
                })
            });
        }
    </script>
</body>
</html>
