@page "/Blog"
@inherits BlogBase

@if (Blog == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col pl-0">
                <label>部落格名稱</label>
                <input @bind-value="Blog.BlogName" class="form-control w-25" />
                <MyButton value="Add" class="btn btn-info my-2" type="button" @onclick="add" />
            </div>
        </div>
        <div class="row">
            @foreach (var post in Blog.Posts)
            {
                <div class="col-md-3 border rounded p-3 mr-2 mb-2 w-25">
                    <CascadingValue Value="ColorStyle" Name="ColorStyle" IsFixed="true">
                        <Post Post="post"></Post>
                    </CascadingValue>
                </div>
                <br />
            }
        </div>
    </div>
}
