@inherits PostBase

<div class="form-group">
    <div class="form-group">
        <label>建立時間</label>
        <input type="text" class="form-control" @bind="Post.CreateDateTime" @bind:format="yyyy-MM-dd HH:mm:ss" disabled />
        <br />
        <label>更新時間</label>
        <input type="text" class="form-control" @bind="Post.UpdateDateTime" @bind:format="yyyy-MM-dd HH:mm:ss" disabled />
    </div>
    <EditForm EditContext="editContext" OnValidSubmit="createPost">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="title" style="@ColorStyle">標題</label>
            <input type="text" class="form-control" @bind="Post.Title" @bind:event="oninput" />
        </div>

        <div class="form-group">
            <label for="content">內容</label>
            <InputTextArea @bind-Value="Post.Content" id="content" class="form-control" rows="4"></InputTextArea>
        </div>
        <div class="form-group">
            <MyButton value="Submit" class="btn btn-primary" type="submit" />
            <MyButton value="Reset" class="btn btn-dark" type="reset" />
            <input value="Delete" class="btn btn-danger" type="button" @onclick="deletePost"/>
        </div>
    </EditForm>
</div>
