@page "/Post"
@inherits PostBase

<div class="form-group">
    <label>更新時間</label>
    <input type="text" class="form-control w-25" @bind="Post.CreateDateTime" @bind:format="yyyy-MM-dd hh:mm:ss" disabled />
</div>
<EditForm EditContext="editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @*<InputNumber @bind-Value="Post.Id" class="form-control w-25"></InputNumber>*@
    <div class="form-group">
        <label for="title">標題</label>
        <input type="text" class="form-control w-25" @bind="Post.Title" @bind:event="oninput" />
    </div>

    <div class="form-group">
        <label for="content">內容</label>
        <InputTextArea @bind-Value="Post.Content" id="content" class="form-control w-25" rows="4"></InputTextArea>
    </div>
    <MyButton ButtonType="submit" ButtonClass="btn btn-info col-1 " ButtonName="Submit" />
    <MyButton ButtonType="reset" ButtonClass="btn btn-danger col-1" ButtonName="Reset" />
</EditForm>
<br />

<Expander Expanded="true">
    <p>
        Expander 1 content
    </p>
</Expander>

<Expander Expanded="true" />

<button @onclick="StateHasChanged">
    Call StateHasChanged
</button>